<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= content_for(:title) || "Improving" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen">
  <div class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Improving</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/submit">Submit</a></li>
    </ul>
  </div>
</div>
    <main class="">
      <%= yield %>
    </main>
    <footer class="footer sm:footer-horizontal footer-center bg-base-200 text-base-content p-4">
  <aside>
    <p>Made by Neon in <%= Time.now.year %> - Hackclub YSWS</p>
  </aside>
</footer>
  </body>
</html>
